@import 'normalize.css';

@font-face {
    font-family: "GoT";
    src: url(fonts/game_of_thrones-webfont.woff) format("woff"),
        url(fonts/game_of_thrones-webfont.woff2) format("woff2");
}

* {
    background: black;
    color: white;
}


.GoT {
    font-family: "GoT";
}

.center {
    text-align: center;
    
}



#wrapper {
    display: flex;
    justify-content: center;
    
}

.center_text {
display: flex;
flex-direction: row;
justify-content: center;
padding: 4rem 15rem;
font-size: 1.5rem;
}

.resize {
    width: 5rem;
border-color: black;

}


.center_flex{
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}